<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cpjd.roblu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:theme="@style/AppTheme">

        <service android:name=".sync.cloud.sync.Service"/>
        <receiver android:name=".utils.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cpjd.roblu"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity
            android:name=".ui.events.EventEditor"
            android:label="@string/title_activity_create_event_view"
            android:parentActivityName=".ui.events.CreateEventPicker"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cpjd.roblu.ui.events.CreateEventPicker"/>
        </activity>
        <activity
            android:name=".ui.teamsSorting.CustomSort"
            android:label="">
        </activity>
        <activity
            android:name=".ui.forms.EditForm"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_create_form"
            android:parentActivityName=".ui.events.EventEditor">
        </activity>
        <activity
            android:name=".ui.teams.TeamsView"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:label="Roblu Master">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.team.TeamViewer"
            android:label="@string/title_activity_team_viewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cpjd.roblu.ui.teams.TeamsView"/>
        </activity>
        <activity
            android:name=".forms.images.ImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""/>
        <activity
            android:name=".forms.images.FullScreenImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""/>
        <activity
            android:name=".ui.setup.SetupActivity"
            android:label="Setup"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.AdvSettings"
            android:label="Settings"
            android:parentActivityName=".ui.settings.AdvSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cpjd.roblu.ui.settings.AdvSettings"/>
        </activity>
        <activity
            android:name=".ui.forms.Predefined"
            android:label="@string/title_activity_predefined"
            android:parentActivityName=".ui.events.EventEditor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cpjd.roblu.ui.events.EventEditor"/>
        </activity>
        <activity
            android:name=".ui.events.EventSettings"
            android:label="@string/title_activity_predefined">
        </activity>
        <activity
            android:name=".ui.events.CreateEventPicker"
            android:label="@string/title_activity_create_event_picker">
        </activity>
        <activity
            android:name=".ui.tba.APIEventSelect"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_apievent_select">
        </activity>
        <activity
            android:name=".ui.forms.AddElement"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_add_element">
        </activity>
        <activity
            android:name=".ui.tutorials.Tutorial"
            android:label="@string/title_activity_tutorial">
        </activity>
        <activity android:name=".sync.cloud.ui.Mailbox"
                  android:label="Mailbox"/>
        <activity android:name =".forms.images.Drawing"
                  android:label="Drawing"/>
        <activity android:name=".ui.mymatches.MyMatches"
                  android:label="My matches"/>
    </application>

</manifest>